{% include 'base.html' %}
<div class="container-fluid">
  <div class="media">
    <img class="align-self-start mr-3" src="{{article.image.url}}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0"><strong>{{article.title}}</strong></h5>
      <p class="text-left">{{article.content}}.</p>
      <!-- <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> -->
    </div>
  </div>
</div>
